{{> header}}
<p>Hello {{firstName}}</p>
<p>HELLO! {{capitals firstName}}</p>
<p>r{{#times 10}}e{{/times}}</p>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display:block;margin:0 auto;" width="400px" height="400px" viewBox="0 0 400 400">
	<g>
            {{> animatePath}}
    </g>
</svg>

{{> footer}}